 <h1>자 자기이름 쓰시고 제출 눌러보세요!</h1>

 <form action="/home/new" method="get">
  내 이름 : <input type="text" name="myname"><br>
  <input type="submit" value="제출">
</form>

<!--
<form action="/home/create" method="post">
  추가할 이름 : <input type="text" name="name"><br>
 <input type="submit" value="제출">
</form> -->
