<h1>당신은 <%= @personsname %>에게 선물을 사주면 되는 것으로 판명났습니다. 다시 뽑거나 하는 등의 사기치기 없음 ! </h1>

<h2>파티 일시 : 21(월) </h2><br>
<h2>파티 장소 : 안암 </h2>
<h2>파티 내용 : 술 </h2>
<h2>선물 가격 제한 : 4만원 넘지 않기</h2>

<h3>곧 봐요오오옷 </h3>
